body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #000000;
}

.nav_container {
    display: flex;
    justify-content: center;
    border-top: black;
    border-bottom: #000000;
    border-top-style: solid;
    border-bottom-style: solid;
    background-color: #a7663b;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.9;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 9;
    position: fixed;
    height: 70px;

}




.item {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 9px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: x-large;


}

.item:hover {

    background-color: #dd7230;
    border-left-color: #000000;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 2px;
    /* font-weight: bold; */
}

#section-1 {
    height: 820px;
    background-image: url(img2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 4.0rem;
    font-style: italic;
    position: relative;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font: 6.3rem "Fira Sans", sans-serif;
    font-weight: bolder;
    font-style: italic;
}


.menu_disc {
    background-color: #794f33;
    display: flex;
    justify-content: space-evenly;
}


.ourmenu {
    margin-top: 90px;
    font-size: 35px;
}

.carousel {
    width: 800px;
    margin: 40px;
}



.about_us {
    background-color: #dd7230;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc {
    text-align: center;
    margin: 90px;
    background-color: #794f33;
    border-radius: 3px;
}

.img_old {
    width: 800px;
    margin-bottom: 50px;
    border-radius: 3px;
}

.contact_container {
    background-color: #dd7230;
    justify-content: center;
    display: flex;



}


.contact_container2 {
    background-color: #dd7230;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
}

.contact_more {

    background-color: #794f33;
    border-radius: 3px;
    padding: 30px;
}


footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
}

.title {
    font-size: 3.5rem;
    font-style: italic;

}