body {
    margin: 0px;
    text-decoration: none;

}

.nav_container {
    display: flex;
    justify-content: center;
    /* border-top: black;
    border-bottom: #000000;
    border-top-style: solid;
    border-bottom-style: solid;
    background-color: #a7663b; */
    font-family: Arial, Helvetica, sans-serif;
    /* opacity: 0.9;
    left: 0px;
    right: 0px;
    top: 0px; */
    z-index: 9;
    /* position: fixed; */
    height: 70px;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    text-decoration: none;

}


a {
    text-decoration: none;

}

.item {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 9px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 2.2rem;
    color: white;
    font-style: italic;
    text-decoration: none;



}

.item:hover {
    color: rgb(150, 65, 8)
}

#section-1 {
    height: 820px;
    background-image: url(img1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 4.0rem;
    font-style: italic;
}

.text-container {
    background-color: rgba(221, 114, 48, 0.479);
}

/* #section-1 {
    display: flex;
    align-items: center;
    background-color: #f3f3f3c0;
    padding: 50px 30px;
} */

.menu_disc {
    background-color: #e4b44d;
    display: flex;
    justify-content: space-evenly;
}


.ourmenu {
    margin-top: 90px;
    font-size: 35px;
}

.carousel {
    width: 800px;
    margin: 40px;
}



.about_us {
    background-color: #8a6a24;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc {
    text-align: center;
    margin: 90px;
    background-color: #e4b44d;
    border-radius: 5px;
}

.img_old {
    width: 800px;
    margin-bottom: 50px;
    border-radius: 3px;
}

.contact_container {
    background-color: #e4b44d;
    justify-content: center;
    display: flex;



}


.contact_container2 {
    background-color: #e4b44d;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
}

.contact_more {

    background-color: #8a6a24;
    border-radius: 3px;
    padding: 30px;
}


footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
}

.title {
    font-size: 4.0rem;
    font-style: italic;
    font-weight: bolder;

}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}